@using Microsoft.AspNetCore.Components.Forms
@inherits BlazorDynamicForm.Core.FormComponentBase

<div class="row">
    <label for="@PropertyType" class="col-sm-2 col-form-label">@PropertyName</label>
    <div class="col-sm-10">
        <InputNumber @bind-Value:get="TypedValue" @bind-Value:set="OnValueChanged" id="@PropertyType" class="form-control" />
    </div>
</div>
@code {

    private float TypedValue => Convert.ToSingle(Value);

    protected async Task OnValueChanged(float newValue)
    {
        Value = newValue;
    }
}