@using Syncfusion.Blazor.Navigations
@using BlazorDynamicForm.Components

@inherits FormComponentBase


    <SfAccordion>
        <AccordionItems>
            <AccordionItem>
                <HeaderTemplate>
                    @PropertyName
                    <div></div>
                </HeaderTemplate>
                <ContentTemplate>
                    @{
                        // foreach (var nice in ChildBuilder.Invoke(Formkey, Value))
                        // {
                        //     @nice
                        // }
                    }
                </ContentTemplate>
            </AccordionItem>
        </AccordionItems>
    </SfAccordion>

@code {
   
}
