@page "/"
@using System.Dynamic
@using BlazorDynamicForm.Core
@using TypeAnnotationParser


@inject HttpClient Http

@if (definition != null)
{
    <DynamicForm FormDefinition="@definition" OnValidSubmit="@OnValidResult">
        <FieldTemplate Context="template">
            @template.DynamicComponent
        </FieldTemplate>
        <SubmitTemplate>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </SubmitTemplate>
    </DynamicForm>
}


<p>@Result</p>
@code {


    void OnValidResult(ExpandoObject? data)
    {
        JsonData = definition.SerializeObject(data);
        Console.WriteLine(JsonData);
    }
    private string Result { get; set; }

    SchemeModel? definition;
    // ExpandoObject? data;
    public static string? JsonData = null;


    protected override async Task OnInitializedAsync()
    {

        var definitionRaw = await Http.GetStringAsync("Definition");
        Console.WriteLine(definitionRaw);
        definition = SchemeModel.FromJson(definitionRaw);
        StateHasChanged();



    }

}
