@page "/"
@using System.Dynamic
@using BlazorDynamicForm.Attributes
@using BlazorDynamicForm.Components
@using Newtonsoft.Json
@using TypeAnnotationParser
@using YamlDotNet.Serialization
@using YamlDotNet.Serialization.NamingConventions


@inject HttpClient Http


<DynamicForm Scheme="@_scheme" OnValidSubmit="@OnValidResult">
    <SubmitTemplate>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </SubmitTemplate>
</DynamicForm>

@if (!string.IsNullOrEmpty(SerializedJson))
{
    <pre>@SerializedJson</pre>
}

@code {

    void OnValidResult(IDictionary<string, object>? data)
    {
        if (data is not null)
        {
            // Serialize using Newtonsoft.Json
            SerializedJson = JsonConvert.SerializeObject(data, Formatting.Indented);
            Console.WriteLine(SerializedJson);
        }
        else
        {
            SerializedJson = "Form returned null data.";
        }
    }

    private SchemeModel _scheme;
    // ExpandoObject? data;
    public string? SerializedJson = null;
    public class Cube
    {
        [SelectBox(["1", "2"])]
        public int Value { get; set; }
    }
    public class Test
    {
        [CodeEditor("chsarp")]
        public string Name { get; set; }

        [TextArea()]
        public string Message { get; set; }
        // public Cube M1 { get; set; }
        // public Cube M3 { get; set; }
        // public Cube M4 { get; set; }

        // public List<Cube> M2 { get; set; }

        // public List<string> ListString { get; set; }

        // public Test Data { get; set; }

        // public List<Test> Data2 { get; set; }
    }
    protected override void OnParametersSet()
    {
        if (_scheme == null)
        {
            var config = new ParserConfiguration();
            config.Attributes = new List<Annotation>() { };
            var parser = new TypeAnnotationParser(config);


            _scheme = parser.Parse<Test>();
        }

        base.OnParametersSet();
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public SchemeModel CreateScheme(string yaml)
    {
        List<Type> attributesTypes = new List<Type>()
        {
            typeof(CodeEditorAttribute),
            typeof(SelectBoxAttribute),
        };

        var deserializerBuilder = new DeserializerBuilder()
            .WithNamingConvention(LowerCaseNamingConvention.Instance);
        foreach (var attribute in attributesTypes)
        {
            deserializerBuilder.WithTagMapping("!" + attribute.Name.Replace("Attribute", ""), attribute);
        }
        var deserializer = deserializerBuilder.Build();
        var schemeDeserialize = deserializer.Deserialize<SchemeModel>(yaml);
        return schemeDeserialize;
    }

}
